<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb >
      </app-breadcrumb>
    </div>
    <!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEDANTA LIMITED Certificate of Analysis</title>
   
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .header {
            background-color: #d6eaf8;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
  <div class="text-justify">
    <img src="/src/assets//images//logo.png">
    <table id="table" class="text-justify">
      <tr class="text-justify">
        <th class="text-justify">VEDANTA LIMITED</th>
      </tr>

    </table>
    
  </div>
    

   
    <table id="editableTable">
        <tr>
            <th rowspan="2">Equipment Description</th>
            <th colspan="3">Liquor Analysis</th>
            <th rowspan="2">Solids In Slurry</th>
        </tr>
        <tr>
            <th>Al2O3</th>
            <th>F.C</th>
            <th>Soda</th>
        </tr>
        <tr class="header">
            <td colspan="5">RED AREA</td>
        </tr>
        <tr>
            <td contenteditable="true">BMD-1</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <tr>
            <td contenteditable="true">BMD-2</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <!-- Add other RED AREA rows similarly -->
        <tr class="header">
            <td colspan="5">WHITE AREA</td>
        </tr>
        <tr>
            <td contenteditable="true">PCUF-1</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <tr>
            <td contenteditable="true">PCOF-1</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <!-- Add other WHITE AREA rows similarly -->
        <tr class="header">
            <td colspan="5">CALCINER</td>
        </tr>
        <tr>
            <td contenteditable="true">Weak Wash tank (051-TK-0103)</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <tr>
            <td contenteditable="true">Mother Liquor tank (051-TK-0105)</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <!-- Add other CALCINER rows similarly -->
    </table>
</body>
</html>

  </div>
</section>