<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Domestic Buxaite'" [items]="['Raw Materials List']" [active_item]="'Domestic Buxaite'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="materialTableHeader">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <!-- <li class="tbl-title">
                  <h2>Domestic Buxaite</h2>
                </li> -->
                <li class="tbl-search-box">
                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                  <input placeholder="Search" type="text" #filter class="browser-default search-field"
                    aria-label="Search box">
                  </li>
                  <div class="toolbar-buttons">
                    <button mat-icon-button (click)="editSelectedRecords()" [disabled]="!anySelected()" *ngIf="!(path === 'final-result')">
                      <mat-icon class="icon-edit-btn-top">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="saveEditedRecords()" [disabled]="!anySelected()" *ngIf="!(path === 'final-result')">
                      <mat-icon class="icon-save-btn-top">save</mat-icon>
                    </button>
                  </div>
                </ul>
              </div>
            </div>
            <div class="body overflow-auto">
              <div class="responsive_table">
                <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                      </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Bag Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Bag Id</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.bagId}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Sample Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sample Id</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" matTooltip={{row.sampleId}}>
                      <span class="truncate-text"> <span class="mobile-label">Sample Id:</span>{{row.sampleId}}</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" class="mat-column-analyzedDT" matTooltip={{row.type}}>
                      <span class="truncate-text"> <span class="mobile-label">Type:</span>{{row.type}}</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Analysis Date and Time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-analyzedDT">Analysis D&T</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" class="mat-column-analyzedDT">
                      <span>{{row.analysisDT}}</span>
                    </mat-cell>
                  </ng-container>                                                                   
                  <ng-container matColumnDef="AnalyzedBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Analyzed By</mat-header-cell>
                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                      <ng-container *ngIf="row.isEditing; else viewAnalyzedBy">
                        <input matInput [(ngModel)]="row.analyzedBy">
                      </ng-container>
                      <ng-template #viewAnalyzedBy>
                        {{row.analyzedBy}}
                      </ng-template>
                    </mat-cell>
                  </ng-container>

                  <!-- actions -->
                  <ng-container matColumnDef="LECO TGA">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>LECO TGA</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row, 'LECO TGA');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="XRF">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>XRF</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row, 'XRF');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TOC">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>TOC</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row, 'TOC');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="XRD">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>XRD</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row,'XRD');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Manual">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>Manual</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row, 'Manual');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Composite Report">
                    <mat-header-cell class="pr-0" *matHeaderCellDef>Composite Report</mat-header-cell>
                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                      <button (click)="viewInstrumentDetails(row, 'Composite');$event.stopPropagation()" class="eye-button">
                        <i class="fas fa-eye blue-eye"></i>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </table>
              <!-- Loading spinner -->
              @if (exampleDatabase?.isTblLoading) {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
              }
              @if (!exampleDatabase?.isTblLoading) {
                <div class="no-results"
                  [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                  No results
                </div>
              }
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
